@use "./variables" as *;

body {
  margin: 30px 20px;
  font-family: $font-secondary;
  font-size: 4.5vw;
  background-color: #98f7f7;
  max-height: 100vh;

  button {
    border-radius: 20%;
    background-color: deepskyblue;
  }
}

img {
  position: absolute;
  width: 40vw;
}

.images__sun {
  position: absolute;
  top: 30;
  right: 0;
  // float: right;
  // margin: 0 0 0 auto;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    position: relative;

    h1 {
      font-family: $font-primary;
      font-size: 11vw;
    }

    button {
      width: 10vw;
      aspect-ratio: 1/1;

      img {
        width: 8vw;
        aspect-ratio: 1/1;
        position: relative;
      }
    }
  }

  p {
    margin: 20px 0;
    text-align: center;
    position: relative;
  }

  .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // line-height: 3;
    margin: 20px 0;
    font-family: $font-primary;
    font-size: 3.5vw;
    position: relative;

    &__category,
    &__difficulty {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      position: relative;

      select {
        font-size: 5vw;
        width: 50vw;
      }
    }
  }
}

main {
  .chosen-category {
    margin: 20px 0;
  }

  .mystery-word {
    text-align: center;
    font-size: 5vw;
    margin: 30px;
  }

  .clue {
    margin: 20px 0;
  }

  .container {
    display: flex;
    justify-content: space-around;

    #hangman,
    #guesses-left {
      margin: 20px;
      padding: 7px;
      border: 2px solid black;
      border-radius: 5vw;
      width: 35vw;
      height: 18vh;
      // aspect-ratio: 1/1;
      font-family: $font-primary;
      font-size: 3.5vw;
      text-align: center;
      background-color: white;
    }
    #guesses-left {
      font-size: 4vw;
      line-height: 3;
      padding: 3vh 0;
    }
  }

  .answer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .answer__button {
      width: 60%;
      margin-bottom: 15px;
      font-size: 4vw;
    }

    .answer__text {
      color: #98f7f7;
      text-align: center;
      font-size: 6vw;
      font-family: $font-primary;
    }
  }
}
